# DUB
.dub
dd-dos.exe
dd-dos-test-library.exe
dd-dos
dd-dos-test-library
dub.selections.json
# dub_platform_probe*.s files
dub*.s

# DD-DOS generated


# Personal stuff
t
NOTES

# VSCode
.vscode

# VS2015 VC++ files
*.db
*.opendb
*.ipch
*.exe
*.obj
*.tlog
*.pdb
*.idb
*.ilk
*.log
*.suo

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
